 <md-toolbar color="primary">
    <span> <img [src]="fullLogoPath" alt="Vertiv" style="height:50%; width:50%"> </span>
   <span class="text-center"><h1 class="mat-display-1">Mini-Mate3 Sound Calculator</h1> </span> 
   <span class="spacer"></span>
   <div  mdTooltip="gaurav.jain@vertivco.com" mdTooltipPosition="left">
   <span >Help</span>
   </div>
 </md-toolbar>
 
  <!--<div class="d-block bg-warning font-weight-bold text-center p-2">
    <h1>Mini-Mate3 Sound Calculator <i class="fa fa-volume-up" aria-hidden="true"></i></h1>
  </div>-->
  <div class="container-fluid">

  <br>  
  <div >
     
      <div class="row">
        <div class="col-sm-6">
          <md-select placeholder="Product Family" id="productFamilyDropDown" [(ngModel)] = "selectedFamily" 
          (change) = "productFamilyChanged()" class="full-width" >


            <md-option *ngFor='let family of families' [value] = family.Key>
              {{family.Value}}</md-option>
          </md-select>
        </div>

        <div class="col-sm-6">
          <md-select placeholder="Model Number" id="unitModelDropDown" [(ngModel)] = "selectedUnit" [disabled]="!(units.length>0)"
          (change) = "unitModelChanged()"  class="full-width" >
            <md-option  *ngFor='let unit of units' [value] = unit.Key>
              {{unit.Value}} </md-option>
          </md-select>
        </div>
      </div>
<br>
      <div class="row">
        <div class="col-sm-6" >
          <md-select placeholder="Air Inlet" id="airInletDropDown" [(ngModel)] = "selectedAirInlet" 
          (change) = "airInletChanged()" [disabled]="!(airInlets.length>0)"  class="full-width" >
            <md-option *ngFor='let inlet of airInlets' [value] = inlet.Key>
              {{inlet.Value}}</md-option>
          </md-select>
        </div>

        <div class="col-sm-6 text-muted">
          <md-select placeholder="Air Outlet" id="airOutletDropDown"  [(ngModel)] = "selectedAirOutlet" 
           (change) = "airOutletChanged()"  [disabled]="!(airOutlets.length>0)"  class="full-width" >
            <md-option *ngFor='let outlet of airOutlets' [value] = outlet.Key >
              {{outlet.Value}}</md-option>
          </md-select>
        </div>
      </div>
<br>
      <div class="row">
        <div class="col-sm-6 " >
          <md-form-field class="full-width">
          <input mdInput placeholder="ACFM" class="form-control" class="full-width"  id="acfmInput" 
          [(ngModel)] = "inpAcfm" > 
          </md-form-field>        
         
        </div>

        <div class="col-sm-6 " >
          <md-form-field class="full-width">
            <input mdInput placeholder="Total Static Pressure [in-H2O]" class="full-width" id="tspInput" [(ngModel)] = "inpTsp">         
          </md-form-field>
        </div>
      </div>

<br>


  
        <div class="row">
          <div class="col-sm-2">
          <button md-raised-button color="accent" (click)="calculateSound()" 
          *ngIf= "(selectedFamily > 0 && selectedUnit > 0 && selectedAirInlet > 0 && selectedAirOutlet > 0)"  
          >Calculate </button>
        </div>
        </div>
        

  </div>

<hr>

<div  >
      <sound-result [soundData]="soundResults" [soundPaths] = "soundPaths"></sound-result>
</div>

<hr>
</div>